<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>pubg</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Advent+Pro">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amarante">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400,500">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway+Dots">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="static/assets/css/styles.min.css">
</head>

<body style="background-repeat: no-repeat;">
    <!-- Start: Video Parallax Background -->
    
    <div class="container-fluid d-flex justify-content-center align-items-center align-content-center video-parallax-container">
            
        <div class="div_a">
            <!-- Start: Animated Type Heading -->				<div class="caption v-middle text-center">
					<h1 class="cd-headline clip">
			            <span class="blc" >CHAMPEŐN | </span>
			            <span class="cd-words-wrapper">
			              <b class="is-visible" style="color:#DE8D00">PUBG.</b>
			              <b style="color:#DE8D00">WIN PREDICTION</b>
			              <b style="color:#DE8D00">SYSTEM</b>
			            </span>
	          		</h1>
				</div>
            <!-- End: Animated Type Heading -->
        </div><video autoplay="" muted="" loop=""><source src="static/assets/bg.mp4" type="video/mp4" wp-acf="[{'type':'url','name':'video','label':'Video','wrapper':{'width':30}}]" wp-attr="[{'target':'src','replace':'%1'}]"></video></div>
    <!-- End: Video Parallax Background -->
    <!-- Start: News article for homepage by Ikbendiederik.nl -->
    <div class="news-block">
        <div class="container" style="margin: 100px;">
            <div class="row"  style ="width: 1400px" >
                <div class="col-md-9 col-lg">
                    <h1 class="newsblock-title" style="font-family: Aclonica, sans-serif;">About&nbsp;</h1>
                </div>
                <div class="col-md-9" style="background-color: rgba(255,255,255,0);width: 1400px;">
                    <h1 class="newsblock-title">PLAYERS UNKNOWN BATTLEGROUND</h1>
                    <div class="row">
                        <div class="col-9 news-bg" style="background-color: rgba(241,242,245,0);">
                            <p style="font-size: 24px"><br><strong><em>PlayerUnknown's Battlegrounds</em></strong>&nbsp;(<strong><em>PUBG</em></strong>) is an&nbsp;<a href="https://en.wikipedia.org/wiki/Online_multiplayer">online multiplayer</a>&nbsp;<a href="https://en.wikipedia.org/wiki/Battle_royale_game">battle royale game</a>&nbsp;developed
                                and published by&nbsp;<a href="https://en.wikipedia.org/wiki/PUBG_Corporation">PUBG Corporation</a>, a&nbsp;<a href="https://en.wikipedia.org/wiki/Subsidiary">subsidiary</a>&nbsp;of South Korean video game company&nbsp;
                                <a
                                    href="https://en.wikipedia.org/wiki/Bluehole_(company)">Bluehole</a>. The game is based on previous&nbsp;<a href="https://en.wikipedia.org/wiki/Mod_(video_gaming)">mods</a>&nbsp;that were created by Brendan "PlayerUnknown" Greene for other games, inspired by the 2000 Japanese
                                    film&nbsp;<a href="https://en.wikipedia.org/wiki/Battle_Royale_(film)"><em>Battle Royale</em></a>, and expanded into a standalone game under Greene's creative direction. In the game, up to one hundred players parachute
                                    onto an island and scavenge for weapons and equipment to kill others while avoiding getting killed themselves. The available safe area of the game's map decreases in size over time, directing surviving players into
                                    tighter areas to force encounters. The last player or team standing wins the round.<br><br>
                                
                                    COPYRIGHT ©2019 PUBG CORPORATION. ALL RIGHTS RESERVED.<br>
                                    PLAYERUNKNOWN’S BATTLEGROUNDS and PUBG are registered trademarks, trademarks or service marks of PUBG CORPORATION.
                                </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End: News article for homepage by Ikbendiederik.nl -->
    <!-- Start: News article for homepage by Ikbendiederik.nl -->
    <div class="news-block">
        <div class="container" style="margin: 100px;width: 1400px;">
            <div class="row" style="width: 1400px;">
                <div class="col-md-9 col-lg" >
                    <h1 class="newsblock-title" style="font-family: Aclonica, sans-serif;">About&nbsp;</h1>
                </div>
                <div class="col-md-9" style="background-color: rgba(255,255,255,0),width: 1400px;">
                    <h1 class="newsblock-title">Champe<strong>Őn : Win Prediction System</strong></h1>
                    <div class="row">
                        <div class="col-9 news-bg" style="background-color: rgba(241,242,245,0);">
                            <p style="font-size: 24px">Champeon is based on a Dense Neural Network model which has accuracy rate of more than 94%. It uses Keras model running on a Tensorflow backend which is GPU accelerated. The DataSet which is used to develop the DNN model is
                                consist of more than 4 million examples.&nbsp;</p>
                            <p>Campeon uses PUBG-API (Official) to gather the information of the recent played matches of the player just using the user name of the player(which is case sensitive)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End: News article for homepage by Ikbendiederik.nl -->
    <div>
        <!-- Start: Material Inputs -->
        <div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <section class="card">
                        <h1>&nbsp;User ID&nbsp;</h1>
                        <form  action="http://127.0.0.1:5000/predict" method="POST" >
                            <div class="md-input-group md-ripple"><label class="md-input-label">User name</label><input name ="userId" class="form-control md-input" type="text"></div>
                            
                            <button type="submit" class="btn btn-primary btn-block md-btn md-ripple" >Predict</button>
                        </form></section>
                </div>
                
            </div>
        </div>
        <!-- End: Material Inputs -->
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <section class="card">
                <h1>&nbsp;{{output}}&nbsp;</h1>
               </section>
        </div>
        
    </div>
    
    <!-- Start: Dark footer with social media icons -->
    <footer id="footerpad">
        <div class="container">
            <div class="row" >
                <div class="col-md-6 col-lg-8 mx-auto" >
                    <ul class="list-inline text-center">
                        <li class="list-inline-item"><a href="https://www.facebook.com/chetanpandey177"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a></li>
                        <li class="list-inline-item"><a href="https://twitter.com/chetanpandey177?lang=en"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com/chetanp177/?hl=en"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-instagram fa-stack-1x fa-inverse"></i></span></a></li>
                        <li class="list-inline-item"><a href="https://github.com/Chetan177"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-github fa-stack-1x fa-inverse"></i></span></a></li>
                    </ul>
                    <!-- Start: paragraph --><h6 class="copyright text-muted text-center">MIT License Copyright &copy;  <br>CHAMPEŐN | 2019
           Chetan Pandey </h6>
                    <!-- End: paragraph -->
                    
                    
                </div>
            </div>
        </div>
    </footer>
    <!-- End: Dark footer with social media icons -->
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/assets/js/script.min.js"></script>
</body>

</html>
