<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Champeon</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.min.css') }}" />
</head>

<body><div>
<video id="videoBG" autoplay muted loop>
    <source src="static/assets/bg.mp4" poster="poster.jpg" type="video/mp4">
</video>
</div>
    <div class=".col-xs-" style="height: 500px;">
        <div class="Push-20" style="height: 200px;"></div>	<div class="caption v-middle text-center" style =" text-align: center;">
					<h1 class="cd-headline clip">
			            <span class="blc" >CHAMPEŐN </span>
			            <span class="cd-words-wrapper">
			              <b class="is-visible" style="color:#DE8D00">PUBG.</b>
			              <b style="color:#DE8D00">WIN PREDICTION</b>
			              <b style="color:#DE8D00">SYSTEM</b>
			            </span>
	          		</h1>
				</div></div>
    <div class="Push-20" style="height: 200px;"></div>
    <section>
        <div>
            <div class="w3-container w3-third">
                <div class="row">
                    <div class="col">
                        <h1 class="head-main">About</h1>
                    </div>
                </div>
            </div>
            <div class="w3-container w3-twothird">
                <div class="row">
                    <div class="col">
                        <h1 class="head-main">PLAYERS UNKNOWN BATTLEGROUND</h1>
                        <div class="row">
                            <div class="col">
                                <p class="info"><br><strong><em>PlayerUnknown's Battlegrounds</em></strong>&nbsp;(<strong><em>PUBG</em></strong>) is an&nbsp;<a href="https://en.wikipedia.org/wiki/Online_multiplayer">online multiplayer</a>&nbsp;<a href="https://en.wikipedia.org/wiki/Battle_royale_game">battle royale game</a>&nbsp;developed
                                    and published by&nbsp;<a href="https://en.wikipedia.org/wiki/PUBG_Corporation">PUBG Corporation</a>, a&nbsp;<a href="https://en.wikipedia.org/wiki/Subsidiary">subsidiary</a>&nbsp;of South Korean video game company&nbsp;
                                    <a
                                        href="https://en.wikipedia.org/wiki/Bluehole_(company)">Bluehole</a>. The game is based on previous&nbsp;<a href="https://en.wikipedia.org/wiki/Mod_(video_gaming)">mods</a>&nbsp;that were created by Brendan "PlayerUnknown" Greene for other games, inspired by the 2000 Japanese
                                        film&nbsp;<a href="https://en.wikipedia.org/wiki/Battle_Royale_(film)"><em>Battle Royale</em></a>, and expanded into a standalone game under Greene's creative direction. In the game, up to one hundred players parachute
                                        onto an island and scavenge for weapons and equipment to kill others while avoiding getting killed themselves. The available safe area of the game's map decreases in size over time, directing surviving players into
                                        tighter areas to force encounters. The last player or team standing wins the round.<br>COPYRIGHT ©2019 PUBG CORPORATION. ALL RIGHTS RESERVED.<br><br>PLAYERUNKNOWN’S BATTLEGROUNDS and PUBG are registered trademarks,
                                        trademarks or service marks of PUBG CORPORATION.<br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="Push-20" style="height: 200px;"></div>
    <section>
        <div>
            <div class="w3-container w3-third">
                <div class="row">
                    <div class="col">
                        <h1 class="head-main">About</h1>
                    </div>
                </div>
            </div>
            <div class="w3-container w3-twothird">
                <div class="row">
                    <div class="col">
                        <h1 class="head-main">Champe<strong>Őn : Win Prediction System</strong></h1>
                        <div class="row">
                            <div class="col">
                                <p class="info">Champeon is based on a Dense Neural Network model which has accuracy rate of more than 94%. It uses Keras model running on a Tensorflow backend which is GPU accelerated. The DataSet which is used to develop the DNN model
                                    is consist of more than 4 million examples.&nbsp;<br>&nbsp;Campeon uses PUBG-API (Official) to gather the information of the recent played matches of the player just using the user name of the player(which is case sensitive)<br>
                                    <br>
                                    <br>
                                    About DNN : <br>
                                    The DNN is made up of 5 layers with 4 in between batch normalization layer 
                                    1. Input layer with 32 units<br>
                                    2. Hidden layer with 64 units<br>
                                    3. Hidden layer with 64 units<br>
                                    4. Hidden layer with 64 units<br>
                                    5. Output layer with 1 units<br>
                                    
                                    Input layer and all the 3 hidden layers uses the relu activation function<br>
                                    The output layers uses sigmoid function as activation fucntion.<br>
                                    The model is trained for 100 epochs with average time per epochs 20sec(GPU Accelerated)<br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="Push-20" style="height: 200px;"></div>
    <div>
        <div class="row">
            <div class="col">
                <h1 class="head-main w3-center">Predict your win Chances</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="info w3-center">Enter your userid (Case sensitive to know your win chances</p>
            </div>
        </div>
    </div>
    <div class="w3-row">
        <div class="row">
            <div class="col w3-col" style="width:20%"></div>
            <div class="col w3-col card w3-hover-shadow w3-center" style="width:80%">


<form action="/predict" method="POST" class="w3-container ">
<label class = "head-main">User Id</label>
<input class="w3-input" name ="userId" type="text">
 <div class="Push-20" style="height: 20px;"></div>
 <button type="submit" class="w3-button w3-red">Predict</button>

</form>




</div>
            <div class="col w3-col" style="width:20%"></div>
        </div>

        <div class="row">
            <div class="col w3-col w3-hover-shadow w3-center" style="margin:10%">
                <section class="card  w3-hover-shadow">
                   <h1 class="head-main">&nbsp;{{output}}&nbsp;</h1>
                  </section> </div>
        
        </div>
    </div>
    <footer id="footerpad">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-8 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item"><a href="https://www.facebook.com/chetanpandey177"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a></li>
                        <li class="list-inline-item"><a href="https://twitter.com/chetanpandey177?lang=en"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com/chetanp177/?hl=en"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-instagram fa-stack-1x fa-inverse"></i></span></a></li>
                        <li class="list-inline-item"><a href="https://github.com/Chetan177"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-github fa-stack-1x fa-inverse"></i></span></a></li>
                    </ul><h6 class="copyright text-muted text-center">MIT License Copyright &copy;  <br>CHAMPEŐN | 2019
           Chetan Pandey </h6></div>
            </div>
        </div>
    </footer>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/assets/js/script.min.js"></script>
</body>

</html>
